@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address hidden>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong><a href="mailto:weicwru@gmail.com" class="btn btn-success">Email Me</a></strong><br /><br />
    <strong><a href="https://github.com/wxwcase" class="btn btn-primary" target="_blank">Github</a></strong><br /><br />
    <strong><a href="https://www.linkedin.com/in/wei-wang-3291aa57" class="btn btn-primary" target="_blank">LinkedIn</a></strong><br />
</address>