@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>I am ...</h1>
    <p class="lead">A professional .NET developer and thinker.</p>
    <p><a href="https://www.linkedin.com/in/wei-wang-3291aa57" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Who am I</h2>
        <p>
            I'm a professional .NET developer from ECS Financial Services, I like building websites that not only functional, but also robust and beautiful.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/wei-wang-3291aa57" target="_blank">Learn more @@LinkedIn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What I'm working on</h2>
        <p>
            I'm working on company websites which offers equipment financing and leasing. 
        </p>
        <p><a class="btn btn-default" href="https://github.com/wxwcase" target="_blank">Learn more @@Github &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What I Like</h2>
        <p>
            I like music and NETFLIX!.
        </p>
        @*<p><a class="btn btn-default" href="#" hidden>Learn more &raquo;</a></p>*@
    </div>

</div>